body{
  background-image: url('./components/assets/subtle-prism.svg');
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
#root{
  width: 1140px;
  margin: auto;
}

.nav-main{
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0px;
  left: 0;
  margin: 0 auto;
}

#navbarcont.navbar-container{
  width: 100%;
  display: contents;
}


.navbar{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hwb(271 17% 11% / 0.511);
  height: 36px;
}

.navbar-left{
  display: flex;
}
.navbar-left ul li ,
.navbar-right ul li {
  text-decoration: none;
  color: whitesmoke;
  margin-inline: 12px;
  padding: 0px;
  height: 24px;
  align-items: center;
}
.navbar-left ul li :hover,
.navbar-right ul li :hover{
  color: plum;
  cursor: pointer;
}
.menu{
  display: none;
}
.navbar-left ul,
.navbar-right ul{
  list-style: none;
  padding:0px;
  margin: 8px;
  display: flex;
  align-items: center;
}
.navbar-left ul{
  margin-right: 50px;
}

.navbar-left ul:hover{
  cursor: pointer;
}

.navbar-right{
  margin-right: 50px;
}

.navbar-right ul:hover{
  cursor: pointer;
}

.getInTouch{
  font-weight: bold;
}

.list-name{
  font-weight: bold;
}

.big-header{
  display: flex;
  flex-direction: column;
  margin: 76px auto;
  color: antiquewhite;
  justify-content: space-around;
}

.workProfile{
  justify-content: center;
  display: flex;
  height: auto;
  font-size: 26px;
  font-weight: 400;
  align-items: self-end;
}

.name {
  margin-top: 26px;
  padding-right: 36px;
  text-align: end;
  width:640px;
}

.hi-im{
  font-size: 60px;
  margin-block-end: 0px;
  line-height: 40px;
}

.santiago{
  display: block;
  white-space: nowrap;
  width:640px;
  border-right: 4px solid;
  font-size: 140px;
  font-weight: 700;
  margin-block: 0px;
  line-height: 190px;
  animation: typing 2s steps(8),
  blink .5s infinite step-end alternate;
  overflow:hidden;
}

@keyframes typing{
  from {width: 0;}
}

@keyframes blink{
  50% {border-color: transparent;}
}

.cocca{
  display: block;
  white-space: nowrap;
  width:8ch;
  border-right: 4px solid;
  font-size: 140px;
  font-weight: 700;
  margin-block: 0px;
  line-height: 120px;
  animation: typing 2s steps(5),
  blink .5s infinite step-end alternate;
  overflow:hidden;
}

@keyframes typing{
  from {width: 0;}
}

@keyframes blink{
  50% {border-color: transparent;}
}

.Web-developer{
  line-height: 40px;
  font-size: 60px;
  margin-block: 33px;
}


.profile-container{
  width: 600px;
}

.profile{
  width:450px;
  font-size: 25px;
  margin-top: 28px;
  padding-left: 36px;
}

.personal-list{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.personal-profile{
  display: flex;
  justify-content: center;
  align-items: self-end;
  margin: 62px auto;
  font-size: 26px;
  font-weight: 400;
}

.about-me{
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 40px;
}

.personal-list{
  font-size: 30px;
  font-weight: 400;
}

.personal{
  font-size: 24px;
  list-style:outside;
}

.we-bg{
  background-image: url('./components/assets/blur.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 440px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-cont {
  display: flex;
  position: absolute;
  left: 36px;
  top: 197px;
}

.circle-cont-1 {
  display: flex;
  position: absolute;
  left: 220px;
  top: 334px;
  transform: scale(0.7);
}

.circle-cont-2 {
  display: flex;
  position: absolute;
  left: 112px;
  top: 469px;
  transform: scale(0.4);
}

.circle-inner{
  background-image: url('./components/assets/bigCircle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 126px;
  height: 126px;
}

.workContainer{
  display: flex;
  height: 805px;
  width: auto;
  margin: 76px auto;
}

.left{
  display: flex;
  width: 34%;
}

.right{
  display: flex;
  width: 66%;
  background: black;
}

.r{
  position: relative;
}